<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>KeyBoardDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Keyboard.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>36B63D731C705BCA00760DF2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>36B63D871C705BCA00760DF2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>36B63D921C705BCA00760DF2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>36B63DA81C705D5500760DF2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
